<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/13.1/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         cacheDirectory=".phpunit.cache"
         requireCoverageMetadata="true"
         failOnNotice="true"
         failOnDeprecation="true"
         failOnWarning="true">

    <testsuites>
        <testsuite name="default">
            <directory>test/AppTest</directory>
        </testsuite>
        <testsuite name="async">
            <directory>test/AsyncTest</directory>
        </testsuite>
        <testsuite name="webware-core">
            <directory>src/webware-core/test/unit</directory>
        </testsuite>
        <testsuite name="webware-core-integration">
            <directory>src/webware-core/test/integration</directory>
        </testsuite>
        <testsuite name="webware-acl">
            <directory>src/webware-acl/test/unit</directory>
        </testsuite>
        <testsuite name="webware-acl-integration">
            <directory>src/webware-acl/test/integration</directory>
        </testsuite>
        <testsuite name="webware-admin">
            <directory>src/webware-admin/test/unit</directory>
        </testsuite>
        <testsuite name="webware-admin-integration">
            <directory>src/webware-admin/test/integration</directory>
        </testsuite>
        <testsuite name="webware-navigation">
            <directory>src/webware-navigation/test/unit</directory>
        </testsuite>
        <testsuite name="webware-navigation-integration">
            <directory>src/webware-navigation/test/integration</directory>
        </testsuite>
        <testsuite name="webware-usermanager">
            <directory>src/webware-usermanager/test/unit</directory>
        </testsuite>
        <testsuite name="webware-usermanager-integration">
            <directory>src/webware-usermanager/test/integration</directory>
        </testsuite>
        <testsuite name="webware-configmanager">
            <directory>src/webware-configmanager/test/unit</directory>
        </testsuite>
        <testsuite name="webware-configmanager-integration">
            <directory>src/webware-configmanager/test/integration</directory>
        </testsuite>
    </testsuites>
    <source restrictNotices="true">
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </source>
</phpunit>