/.gitattributes export-ignore
/.github/ export-ignore
/.gitignore export-ignore
/phpcs.xml export-ignore
/renovate.json export-ignore
/.laminas-ci.json export-ignore
/phpunit.xml.dist export-ignore
/test/ export-ignore
/clover.xml export-ignore